:root {
    /* figma text color */
    --color-iris: #4d5ae5;
    --color-ocean: #404bbf;
    --color-navy-blue: #2e2f42;
    --color-green: #31d0aa;
    --color-slate: #434455;
    --color-light-slate: #8e8f99;
    --color-cornflower: #e7e9fc;
    --color-cloud: #f4f4fd;
    --color-navy-blue-modal: #2e2f42;
    --color-grey: #2e2f42;
    --color-white: #ffffff;
    --color-dairy: #fcfcfc;


}



body {
    font-family: roboto, sans-serif;
}



/* base Styles */
.section {}

.logo {}



/* Hero Styles */
.hero {}

.hero-title {}

.hero-button {

}

.btn {}

/* Header Styles */

.header {}

.header-nav {}

.logo {}

.logo-dark {}

.header-list {}

.header-item {}

.header-link {}

.header-contact {}

.header-address {}

/* FEATURE Styles */

.feature {}

.feature-title {}

.feature-list {}

.feature-item {}

.feature-undertitle {}

/*
.feature-desc:hover {
    color: red;
    background-color: #31d0aa;

}
*/

.feature-desc {}

/* Section ____________ */
/* Section ____________ */
/* Section ____________ */



/* LOGO */

/* .logo {
    font-family: "Raleway";
    sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;

    text-decoration: none;
}

.logo-dark {
    color: #2E2F42;


}

.logo-light {
    color: #F4F4FD;

}

.hero-section {
    background-color: var(--color-navy-blue);
}

footer {
    background-color: var(--color-navy-blue);
}
*/