:root {
    /* figma text color */
    --color-iris: #4d5ae5;
    --color-ocean: #404bbf;
    --color-navy-blue: #2e2f42;
    --color-green: #31d0aa;
    --color-slate: #434455;
    --color-light-slate: #8e8f99;
    --color-cornflower: #e7e9fc;
    --color-cloud: #f4f4fd;
    --color-navy-blue-modal: #2e2f42;
    --color-grey: #2e2f42;
    --color-white: #ffffff;
    --color-dairy: #fcfcfc;


}



body {
    color: var(--color-navy-blue);
}



/* base Styles */
.section {}

.logo {
    color: var(--color-iris);
}

.logo-dark {
    color: var(--color-navy-blue);

}

.logo-light {
    color: var(--color-cloud);
}



/* Header Styles */

.header {

}

.header-nav {

}

.logo {}

.logo-dark {}

.header-list {
    color: var(--color-navy-blue);
}

.header-item {
    
}

.header-link {
    color: var(--color-navy-blue);
}

.header-contact {
    
}

.header-mail {
    color: var(--color-slate);
}

.header-phone {
    color: var(--color-slate);
}


/* Hero Styles */
.hero {
    background-color: var(--color-navy-blue);
}

.hero-title {}

.hero-button {
    background-color: var(--color-iris);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

}


.btn {}


/* FEATURE Styles */

.feature {}

.feature-title {}

.feature-list {}

.feature-item {}

.feature-undertitle {}


.feature-desc {
    color: var(--color-slate);
}

.benefits {
}
.section {
}
.benefits-title {
}

.team {
    background-color: var(--color-cloud);
}
.team-title {
}
.team-list {
}
.team-item {
}
.team-undertitle {
}
.team-desc {
    color: var(--color-slate);
}

.footer {
    background-color: var(--color-navy-blue);
}
.logo {
}
.logo-light {
}
.footer-desc {
    color: var(--color-cloud);
}
